<section class="container-fluid p-0">
  <section class="row film-page-content">
      ${this.film ? this.film : ''}
  </section>
  <section class="container main-container-fade">
    <section class="row film-page-shows">
        <section class="col-12 pt-3 pb-5 px-0 px-md-5" id="film-shows">
          <h2 class="mb-5 text-center">Visningar</h2>
          ${this.filmShowings ? this.filmShowings : 'Vänta på content'}
        </section>
    </section>
  </section>
  ${this.bookingPage}
</section>
  

  
