<section class="kiosk-content">
  <div class="container-fluid ">
    <div class="row">
      <div class="popcorn-img mx-auto px-0">
        <img src="/images/kiosk/popcorn1.jpg" class="img-fluid">
        <div class="gradient-cover"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="kiosk-headline">Kiosken</h1>
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-12">
        <p class="mb-2">
          Här nedan hittar ni allt smarrigt vi har i kiosken.
        </p>
        <div>
          <img src="/images/kiosk/candy-bear2.jpg" alt="Candy-bear-img" class="candy-bear-img">
        </div>
        <p class="mt-2">
          Våran absoluta storsäljare GodisBjörnen Björne säljer vi till 50% alltså ENDAST 2,45kr/kg! Mmmmm..
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 px-0 mt-3">
          <h2 class="drink-header">Avnjut prisbelönta drycker</h2>
          <p>
            Ingen bio utan våra underbara läskedrycker.
          </p>
          <p>
            Vi kör sportlovspriser hela veckan och läsken är inget undantag
            <p>
            Erbjudandet gäller KÖP 3 och betala bara för EN dryck.
            </p>
            Så vad väntar du på!!
          </p>
        </div>
        <div class="col-12 col-md-6 px-0 mt-3">
          <img src="/images/kiosk/soft-drinks2.jpg" alt="" class="img-fluid soft-drink-img">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 px-0 mt-4">
          <h2 class="jumbo-header">Megakampanj på JUMBO-boxen</h2>
          <img src="/images/kiosk/jumbo.jpg" alt="" class="img-fluid jumbo-img">
          <p class="mt-2 mb-3">
            I samarbete med läskdistributörer kan vi stolt presentera
            dryck med nästan inget socker alls. Kidsen kommer till 100% sitta still. Vi leverar som vanligt
            pangpris där ett komplett paket landar på <strong>-ENDAST</strong> 29,99KR
          </p>
        </div>
      </div>
    </div>
  </div>
</section>