    <div class="message-wrap">
        <div class="col-sm-7 mx-auto message">
            <h3>${this.heading}</h3>
            <p>${this.text}</p>
           ${this.type === 'newBooking' ? `
           <p>
                Bokningsnummer: ${this.data.bookingNumber}<br/>
                Salong: ${this.saloon}<br/>
                Film: ${this.filmTitle}<br/>
                Platser: ${this.data.seats.sort().join(', ')}<br/>
                Tid: ${this.time}<br/>
                Datum: ${this.date}<br/>
                Att betala: ${this.data.totalCost}
              </p>
              <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-secondary close-and-goto" >Stäng</button>
           ` :
           this.type !== 'newBooking' ? `
               <button type="button" class="btn btn-secondary close-message" >Stäng</button>
           ` :
           ''}
          </div>
    </div>