<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/"><img src="/images/zc-logo.png" alt="ZenCinema Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-0 ml-md-5 pl-0 pl-md-3 font-weight-bold">
      ${this.navItems}
    </ul>
    ${this.navLogins}
  </div>
</nav>