<section class="register-form welcome pt-5">
    <h2 class="mb-4 pt-4">Skapa användare</h2>
    <h5 class="mx-auto mb-5">Som en del av Zenfamiljen får du tillgång till exklusiva erbjudanden som du hittar i förbutiken och inom kort även möjligheten att förvärva ZenCoins!</h5>
    <section class="login-wrapper pb-5">
      <div class="form-group">
        <p>Förnamn:</p>
        <input class="first-name-input mb-3" type="text">
        <p class="invalid-firstname invalid-input">Felaktigt namn</p>
      </div>
      <div class="form-group">
        <p>Efternamn:</p>
        <input class="last-name-input mb-3" type="text">
        <p class="invalid-lastname invalid-input">Felaktigt efternamn</p>
      </div>
      <div class="form-group">
          <p>Email:</p>
          <input class="email-input mb-3" type="text">
          <p class="email-invalid error-msg invalid-input">Felaktigt emailformat</p>
          <p class="email-exists error-msg invalid-input">Denna email existerar redan</p>
      </div>
      <div class="form-group">
        <p>Lösenord:</p>
        <input class="password-input mb-3" type="password">
        <p class="invalid-password invalid-input">Ogiltligt lösenord, använd minst 4 tecken och en siffra</p>
      </div>
      <div class="form-group">
        <p>Bekräfta lösenord:</p>
        <input class="passwordConfirm-input mb-3" type="password">
        <p class="password-mismatch invalid-input">Lösenordet matchar ej</p>
      </div>
      <button class="btn btn-primary saveNewUser-btn mt-3 mb-5">Bekräfta</button>
    </section>
  </section>