<section class="rule-page">
  <div class="container main-container-fade">
    <div class="row">
      <div class="col-12 text-center pt-5">
        <h2>Förhållningsregler:</h2>
        <div class="container">
          <div class="row">
            <div class="col-12 rules-of-engagement pt-5">
              <p>DU skall icke röka.</p>
              <p>DU skall icke försnilla.</p>
              <p>DU skall icke dräpa någon.</p>
              <p>DU skall icke kasta mat mot andra.</p>
              <p>DU skall icke äta chips ur en prasslig påse.</p>
              <p>DU skall icke tala högt och störa andra besökare.</p>
              <p>DU skall icke hälla läsk på andra, inte på dig själv heller.</p>
              <p>Förstörelse av egendom inom våra dörrar kommer alltid att polisanmälas.</p><br>
              <p class="nice-quote">Följer man våra regler kommer alla besökare att få en Zenmazing upplevelse samt trivselnivån kommer vara Zentastic. Vi strävar därför alltid efter att dessa punkter följes för allas trevnad och säkerhet.<p>
            </div>
            <div class="col-12 pt-3">
              <img class="img-fluid" src="/images/happy-strivers.jpg" alt="Glada människor som älskar livet">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>