<section class="techinfo-content">
  <div class="container-fluid">
    <div class="row">
      <div class="speakers-img mx-auto px-0">
        <img src="/images/techinfo/tech-cover.jpg" class="img-fluid tech-cover-img ">
        <div class="gradient-cover-img "></div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-12 mt-4">
          <h2 class="tech-headline mb-4">Våra salonger</h2>
          <h4 class="saloon-headline mb-3">ZenMongouse</h4>
          <div class="row">
            <div class="col-sm-6">
              <p> Det var ett grandiost pompa och ståt vid invigningen av ZenMongouse 2016 som
                drog stor publik. Celibriteter såsom Celine Dion, Tomas Ledin, Mick Jagger, bland många,
                uppträdde till allas förtjusning. ZenMongouse är biografernas slagskepp inom
                auditoriumvärlden där inget av de tekniska moderniteter och bekvämligheter har tummats på.
                Till ZenMongouse går man inte för att "titta" på film utan man är där för att uppleva
                och verkligen känna atmosfären av verklig filmmagi. Varmt välkommen!
              </p>
            </div>
            <div class="col-sm-6">
              <table class="table mt-2">
                <tbody>
                  <tr>
                    <td class="info-left">Antal sittplatser</td>
                    <td class="info-right">79 stycken</td>
                  </tr>
                  <tr>
                    <td class="info-left">Bioduken</td>
                    <td class="info-right">Carbon white "1000</td>
                  </tr>
                  <tr>
                    <td class="info-left-bottom">Ljudsystem</td>
                    <td class="info-right-bottom">THX Ultra Powerful 3.1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="auditorium-img">
        <img class="img-fluid mt-3" src="/images/techinfo/tech-auditorium.jpg">
        <div class="gradient-cover-img"></div>
      </div>
    </div>
    <div class="container">

      <div class="row pb-4">
        <div class="col-sm-6 mt-4">
          <h4 class="saloon-headline mb-3">ZenTermidiate</h4>
          <p>Mellansalongen ZenTermidiate bjuder på en 7D-upplevelse där filmen verkligen
            blir en närkontakt av tredje graden. Det är den första salongen som erbjuder
            3D utan glasögon och besökare som lider av lindrigare ögonproblem har nu chansen
            att uppleva bländande 3D. Detta tackvare ett samarbete mellan topmeriterade
            ögonläkare och 3D-teknikens absoluta bästa ingenjörer. Välkommen!
          </p>
          <div class="mt-5">
            <table class="table">
              <tbody>
                <tr>
                  <td class="info-left">Antal sittplatser</td>
                  <td class="info-right">55 stycken</td>
                </tr>
                <tr>
                  <td class="info-left">Bioduken</td>
                  <td class="info-right">Carbon white "700</td>
                </tr>
                <tr>
                  <td class="info-left-bottom">Ljudsystem</td>
                  <td class="info-right-bottom">THX Mega Powerful 2.1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <h4 class="saloon-headline mb-3">ZenPetite</h4>
          <p>Den lilla salongen av de tre är långt ifrån vad namnet antyder. En intim
            bioupplevelsen för alla sinnes och recenserades i Kvällsposten vid för-invigningen
            "som en bikram-yogans Ferrari bland biografsalonger". Den senaste ljudtekniken ger en
            fantastisk upplevelse som sent ska glömmas. Efter besöket bjuder vi alla på perfekt
            tempererat ingefära-te och härligt nybakade skorpor. Hoppas vi ses!
          </p>
          <div class="mt-5">
            <table class="table">
              <tbody>
                <tr>
                  <td class="info-left">Antal sittplatser</td>
                  <td class="info-right">42 stycken</td>
                </tr>
                <tr>
                  <td class="info-left">Bioduken</td>
                  <td class="info-right">Carbon white "500</td>
                </tr>
                <tr>
                  <td class="info-left-bottom">Ljudsystem</td>
                  <td class="info-right-bottom mb-5">THX Ultra namaste 1.1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>