<div class="modal fade trailer-modal" id="trailerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog trailer-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body trailer-modal-body">
        <button type="button" class="close trailer-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <section class=" col-12 yt-trailer embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/${this.ytLink}?rel=0&amp;showinfo=0&amp;modestbranding=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </section>
      </div>
    </div>
  </div>
</div>