.custom-modal {
  .custom-modal-dialog {
    max-width: 1200px;
    margin: 30px auto;
    .custom-modal-body {
  background-color: $accent-dark;
      position:relative;
      padding:0px;
      .custom-close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index:999;
        font-size:2rem;
        font-weight: normal;
        color:#fff;
        opacity:1;
        @include media-breakpoint-down(lg){
          right: 0;
          top: -30px;
        }
      }
    }
  }
}