nav {
  z-index:998;
  img {
    width: 64px;
    height: 64px;
  }
  .login-menu {
    min-width: 250px;
    .logout-btn {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.navbar{
  background-image: linear-gradient($primary, rgba(20, 2, 10, 0.8));
}